<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.daisyworks.btcontrol"
      android:versionCode="9" android:versionName="1.4">
    <uses-sdk android:minSdkVersion="7" />
    
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application android:icon="@drawable/icon" 
                 android:label="@string/title.main" 
                 android:name="com.daisyworks.android.bluetooth.BluetoothApplication">
                 
        <activity android:name=".DaisyOnOffActivity"
                  android:label="@string/title.main" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="ConfigurationActivity"></activity>
        <activity android:name="ConfigureBluetoothButtonActivity"></activity>
        <activity android:name="ConfigureWifiButtonActivity"></activity>
        <activity android:name="com.daisyworks.android.HelpActivity"></activity>

    </application>
</manifest>